!!! 5 
html(lang="en")
  head
    title Tailer

    script(src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js", type="text/javascript")
    script(src="js/highcharts.js", type="text/javascript")
    script(src="js/chart.js", type="text/javascript")
  body
    div!= body
